body {
    font-family: Arial, sans-serif;
    background-color: #2c4c3b; 
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: white;
    padding: 20px;
}

#contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.etiqueta {
    background-color: #ff6b35; 
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.titulo {
    margin: 10px 0;
    font-weight: bold;
}

.precio {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

/* Selectores de talla */
.selector-container {
    width: 100%;
    margin-bottom: 10px;
}

.botones-talla {
    display: flex;
    gap: 5px;
}

.btn-talla {
    border: 1px solid #000000;
    background: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-talla:hover {
    background-color: #eee;
}

.colores-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.circulo-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
}

.btn-comprar {
    background-color: #558b2f; 
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.btn-comprar:hover {
    background-color: #457a25;
}




 /* CSS PARA TICKET COMPRA */


#zona-ticket {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 180px;
    background-color: #fff;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 15px;
}

#lista-compra {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#lista-compra li {
    border-bottom: 1px solid #f50000;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

#total-carrito {
    font-weight: bold;
    font-size: 19px; 
    text-align: center;
    margin-top: 10px;
}